@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins',sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(25,24,24,1) 48%);
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 1.8rem;
    color: rgb(252, 99, 99);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: rgb(255, 245, 245);
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

nav a:hover{
    transform: scale(1.1);
    color: rgb(255, 187, 187);
}
nav a.active{
    border-bottom: 2px solid rgb(252, 99, 99);
    color: rgb(253, 102, 102);
    font-size: 2rem;
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.home-content h1{
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.3;
    color: white;
}

.home-content p{
    color: white;
    font-size: 2rem;
}

span{
    color: rgb(252, 99, 99);
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 15vw;
    border-radius: 50%;
    transition: 0.5s ease;
}

.home-img img:hover{
    transform: scale(1.05);
}

.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 2rem;
    background-color: transparent;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
    color: white;
    font-size: 2rem;
}

.social-icon a:hover{
    transform: scale(1.1);
    color: rgb(255, 187, 187);
}

iframe{
    display: flex;
    margin-top: 10rem;
    top: 10rem;
}

.icons{
    position: absolute;
    bottom: 6%;
    right: 5%;
    color: white;
}

.icons i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: rgb(112, 112, 112);
    background-color: rgba(99, 99, 99, 0.11);
    border-radius: 75%;
    transition: 0.3s ease;
}

.icons i:hover{
    transform: translateY(-5px);
}

.home-content iframe{
    width: 80vh;
    height: 20vw;
}

@media (max-width: 1000px){
    .home{
        gap:4rem;
    }
}

@media (max-width: 995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 30vh;
        margin-top: 4rem;
    }

    .home-content iframe{
        width: 30vh;
        height: 10vw;
        margin-top: 10rem;
    }
}